/* -------- *
 *  Images  *
 * ---------*/

img {
  width: 100%;
  height: auto;
}

.no-emoji .emoji {
  display: none;
}

// Lazy Loading
/* fade image in after load */
.lazyload,
.lazyloading {
  opacity: 0;
}

.lazyloaded {
  opacity: 1;
  transition: all 500ms;
}

.gallery__img {
  opacity: 1;
  position: relative;
}

.gallery__img:after {
  content: '';
  display: block;
  height: 0;
  width: 100%;
}

.gallery__img > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}
