/* --------- *
 * Variables *
 * --------- */

//Colors
$base: #3a3a3c; // Dark Gray
$secondary: #f3f3f5; // Light Gray
$tertiary: #d0d0d0; // Medium Gray

$insta: #d10869;
$twitter: #1DA1F2;
$facebook: #3B5998;
$gold: #FFC72D;

$purple: #956dce;
$yellow: #e5c451;
$orange: #f2a13a;
$green: #599571;
$red: #de5a3d;
$blue: #648ab6;
